 
<div id="search" style="position: relative;">
  <input type="text" name="search" value="{{search}}"placeholder="{{text_search}}" class="form-control input-lg" /> 
   <button type="button" class="button_search">{{text_search}}</button>
   
</div>
 